body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header.dark-mode {
    background-color: rgba(50, 50, 50, 0.8);
}

.menu-links a.dark-mode {
    color: #ffffff;
}

.text-container.dark-mode {
    color: #ffffff;
}

.layanan.dark-mode {
    width: 100%;
    height: auto;
    background-color: black;
}

footer.dark-mode {
    background-color: #333333;
}

.text-botus.dark-mode {
    color: rgba(255, 255, 255, 0.5);
}