@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Saira, sans-serif;
    background-color: rgba(255, 140, 0, 0.14);
    margin-left: 70px;
}

.tambah {
    display: inline-block;
    padding: 5px 15px;
    background-color: brown;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    margin-left: 80px;
}

.tambah:hover {
    background-color: rgb(227, 40, 40);
}

.logout{
    display: inline-block;
    padding: 8px;
    border-radius: 15px;
    background-color: brown;
    text-decoration: none;
    color: white;
    margin-left: 71%;
}

.logout:hover{
    background-color: rgb(227, 40, 40); 
}

h1{
    color: brown;
    text-align: center;
}

table {
    border-color: white;
    background-color: red;
    margin-top: 15px;
    margin-left: 75px;
}

th {
    padding: 8px;
    color: white;
    background-color: red;
}

.modify{
    text-align: center;
    color: brown;
    font-weight: 600;
    font-size: 15px;
}

td {
    padding: 5px;
    color: white;
    font-weight: 500;
}

